body {
    background-image: url(./img/main_fons.png);
}

.container  {
    width: 100%;
    max-width: 1460px;
    height: 100%;
    margin: 0 auto;
    
    
}
.call {
    border: 2px solid black;
    display: flex;
    margin: 0px 10px 0px 0px;
    float: right;
    line-height: 1.8;
    text-align: right;
    text-decoration: none;
    text-align: center;
    padding: 4px;
    color: black;
    background-color: #E4B564;
}
.telephone {
        display: flex;
        margin: 7px 7px 0px 0px;
        float: right;
        line-height: 1.8;
        text-align: right;
        text-decoration: none;
        color: #E4B564;;
}
.logo {
        padding: 5px 0px 0px 0px;
        float: left;
        display: flex;
        
}
.grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 700px;
    grid-gap: 25px;
    grid-template-areas: 
    'one one two two three three'
    'four four four five five five';

}

.grid-item-1 {
    background-color: #634F2C;
    color: white;
    text-align: center;
    justify-items: center;
    justify-content: center;
    height: 468px;
    grid-area: one;
}
.grid-item-2 {
    background-color: #B4A385;
    color: white;
    text-align: center;
    grid-area: two;
}
.grid-item-3 {
    background-color: #E4B564;
    color: white;
    text-align: center;
    grid-area: three;
}
.grid-item-4 {
    background-color: #635A4A;
    color: white;
    text-align: center;
    height: 468px;
    grid-area: four;
}
.grid-item-5 {
    background-color: #B08C4D;
    color: white;
    text-align: center;
    grid-area: five;
    
}
.text-grid {
   margin:160px 0px 0px 0px;
   font-size: 25px;
}
.titlle {
    font-size: 20px;
    color: white;
}
.grid-1 {
    display: grid;
    height: 100%;
    grid-template-columns: 467px 467px 467px;
    grid-template-rows: 360px 30px 100px 240px 490px;
    grid-template-areas: 
    "six seven eight"
    "six seven eleven"
    "nine seven eleven"
    "nine ten eleven"
    "nine ten twelve";

    grid-gap: 20px;
}
.grid-item-6 {
   background-color: #0E0E0E;
    color: white;
    text-align: center;
    grid-area: six;
    padding: 50px;
    height: 313px;
}
.grid-item-7 {
    background-color: #242424;
    color: white;
    text-align: center;
    grid-area: seven;
    padding: 50px;
    height: 439px;
}
.grid-item-8 {
    background-color: #1F1F1F;
    color: white;
    text-align: center;
    grid-area: eight;
    padding: 50px;
    height: 255px;
}
.grid-item-9 {
    background-color: #1F1F1F;
    color: white;
    text-align: center;
    grid-area: nine;
    padding: 50px;
    height: 660px;
}
.grid-item-10 {
    background-color: #E4B564;
    color: white;
    text-align: center;
    grid-area: ten;
    padding: 50px;
    height: 540px;
}
.grid-item-11 {
    background-color: #0E0E0E;
    color: white;
    text-align: center;
    grid-area: eleven;
    padding: 50px;
    height: 313px;
}
.grid-item-12 {
    background-color: #0A0909;
    color: white;
    text-align: center;
    grid-area: twelve;
    padding: 50px;
    height: 277px;
}
.text-grid-1 {
    margin: 0 auto;
    font-size: 25px;
}
.project {
        border: 2px solid black;
            display: flex;
            margin: 0px 10px 0px 0px;
            float: right;
            line-height: 1.8;
            text-align: right;
            text-decoration: none;
            padding: 4px;
            color: black;
            background-color: #E4B564;
}
.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    margin: 100px 0px;
}
.grid-item-13 {
    background-color: #634F2C;
    text-align: center;
    padding: 176px 0px 0px 0px;
}
.grid-item-14 {
    background-color: #E8D2ABC2;
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 60px 0px 0px 0px;
}
.grid-item-15 {
    background-color: #E4B564;
        text-align: center;
        padding: 176px 0px 0px 0px;
}
.grid-item-16 {
    background-color: #635A4A;
        text-align: center;
    padding: 176px 0px 0px 0px; 
}
.grid-item-17 {
    background-color: #B08C4D;
}
.grid-item-18 {
    background-color: #634F2C;
    text-align: center;
    padding: 176px 0px 0px 0px;
}